# hardhat
node_modules
build
contracts/artifacts
*.env
.idea
artifacts
cache
data
coverage*
env

# Compiler files
cache_forge
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

lib/*
!.gitkeep